.map {
    position: relative;
    max-width: 100%;
    width: auto;
    z-index: 1;
    position: relative;
    overflow: hidden;
    // border-width: 1px;
    // border-style: solid;
    // border-color: rgb(204, 204, 204);
    border-image: initial;

    @include tablet {
        display: flex;
        flex-direction: column-reverse;
    }
}

.mapTitle {
    position: absolute;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px;
    display: none;
    padding: 5px 20px;
    border-radius: 5px;
    background: $aquamarine;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    font-family: $inter;
    font-size: 1.4rem;
    color: $white;
}
