<div class="burger">
    <div class="burger__nav">


        <div class="burger__close"></div>
        <ul>
            <li class="burger__item">
                <a data-anchor="top" href="#">Главная</a>
            </li>
            <li class="burger__item">
                <a data-anchor="technique" href="#">Услуги</a>
            </li>
            <li class="burger__item">
                <a data-anchor="certificate" href="#">Подарочные сертификаты</a>
            </li>
            <li class="burger__item">
                <a data-anchor="about" href="#">О нас</a>
            </li>
            <li class="burger__item">
                <a href="rules.html">Правила</a>
            </li>
            <li class="burger__item">
                <a data-anchor="contact" href="#">Контакты</a>
            </li>
        </ul>
    </div>
</div>