<main id="top" class="main">
    {{> header/header }}

    <div class="main__container wrapper">

        <div class="main__left">
            <h1 class="main__title">Прокат гидроциклов, квадроциклов и сап-бордов в Тольятти</h1>
            <a href="https://n1066501.yclients.com" target="_blank">
                {{> button/button buttonText="Забронировать"}}
            </a>
        </div>

        <div class="main__right">

            {{> reviewsCard/yandexCard }}

            {{> reviewsCard/vkCard }}

        </div>
    </div>

</main>