@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterRegular.woff2') format('woff2');
    font-weight: 400;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterSemiBold.woff2') format('woff2');
    font-weight: 600;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterBold.woff2') format('woff2');
    font-weight: 700;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
}

@font-face {
    font-family: 'Appetite';
    src: url('../fonts/AppetiteProRegular.woff2') format('woff2');
    font-weight: 400;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
}

@font-face {
    font-family: 'Appetite';
    src: url('../fonts/AppetiteProMedium.woff2') format('woff2');
    font-weight: 600;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
}

@font-face {
    font-family: 'Appetite';
    src: url('../fonts/AppetiteProBold.woff2') format('woff2');
    font-weight: 700;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
}
