<footer class="footer">
    <div class="footer__inner wrapper">
        <div class="footer__top">
            <a href="index.html">
                <img class="footer__logo" src="static/img/general/logo.webp" alt="logo">
            </a>

            <nav class="footer__nav">
                <ul>
                    <li class="nav__item">
                        <a data-anchor="top" href="#">Главная</>
                    </li>
                    <li class="nav__item">
                        <a data-anchor="technique" href="#">Услуги</a>
                    </li>
                    <li class="nav__item">
                        <a data-anchor="certificate" href="#">Подарочные сертификаты</a>
                    </li>
                    <li class="nav__item">
                        <a data-anchor="about" href="#">О нас</a>
                    </li>
                    <li class="nav__item">
                        <a href="rules.html">Правила</a>
                    </li>
                    <li class="nav__item">
                        <a data-anchor="contact" href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="footer__credits">
            <span>© 2024  НАПРОКАТ. All rights reserved</span>
            <a href="#">Политика конфиденциальности</a>
        </div>
    </div>
</footer>