<div id="about" class="aboutBlock">

    <div class="aboutBlock__photo">
        <img src="static/img/content/about-block-photo.webp" alt="">
    </div>


    <div class="aboutBlock__card">

        <h4 class="aboutBlock__title">Не просто прокат!</h4>
        <p class="aboutBlock__desc">
            НАПРОКАТ - это не просто активный отдых, но и уникальная локация сочетающая в себе аромат соснового леса и
            потрясающий
            по красоте песчаный пляж “Алые Паруса”, в непосредственной близости от г. Тольятти. У нас вы сможете
            искупаться в Волге,
            позагорать на шезлонгах, взять на прокат мангал или прогуляться по лесу со стаканчиком ароматного кофе.
        </p>

        <p class="aboutBlock__desc">
            Также у нас есть большие качели в воде, фото зоны и оборудованные смотровые площадки с видом на волжские
            просторы, где
            можно сделать красивые фото или просто посидеть в тишине наедине с природой
        </p>

        <a href="https://n1066501.yclients.com" target="_blank">
            {{> button/button buttonText="Забронировать"}}
        </a>

    </div>

</div>