.technique {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../../static/img/general/footer-bg.webp');
    object-fit: contain;
    background-repeat: repeat-y;

    &::before {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        content: '';
        background-color: rgba($bgColor, 0.7);
        background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, #074e65 100%);
    }

    &::after {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        content: '';
        background-color: rgba($bgColor, 1);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #074e65 100%);
    }
}

.technique__inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    row-gap: 10rem;
}

.technique__block {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    @include tablet {
        flex-direction: column;
        row-gap: 3.2rem;

        &:nth-child(even) {
            flex-direction: column-reverse;
        }

        &:last-child > .technique__photo {
            padding: 0;
            margin: 0;

            @include mobile {
                padding: 3rem 0;
            }
        }
    }
}

.technique__photo {
    position: relative;
    z-index: 3;

    & > div > img {
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
    }

    & > div {
        position: relative;
        z-index: 0;
        width: 100%;
        height: 100%;

        &::after {
            position: absolute;
            display: block;
            content: '';
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 5px solid $white;
            background: radial-gradient(
                50% 50% at 50% 50%,
                rgb(35, 176, 194) 31.3714861869812%,
                transparent 100%
            );
            background-size: cover;
            z-index: 0;

            @include small-tablet {
                width: 200px;
                height: 200px;
                border-width: 1px;
            }
        }

        &::before {
            position: absolute;
            display: block;
            content: '';
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            width: 400px;
            height: 400px;
            border-radius: 50%;
            border: 2px solid $white;
            background-color: $bgColor;
            z-index: -1;

            @include small-tablet {
                width: 300px;
                height: 300px;
                background-color: transparent;
                opacity: 0.3;
            }
        }
    }

    &::after {
        position: absolute;
        display: block;
        content: '';
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid $white;
        background-color: $white;
        z-index: -1;

        @include small-tablet {
            display: none;
            // width: 250px;
            // height: 250px;
            // background-color: transparent;
        }
    }

    &::before {
        position: absolute;
        display: block;
        content: '';
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid $white;
        z-index: -2;

        @include small-tablet {
            width: 400px;
            height: 400px;
        }

        @include mobile {
            display: none;
        }
    }

    @include laptop {
        width: 50%;
        margin-bottom: 5rem;
    }

    @include tablet {
        width: 80%;
    }

    @include small-tablet {
        padding: 5rem 0;
    }

    @include mobile {
        width: 100%;
        padding: 3rem 0;
    }
}

.technique__info {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    width: 30%;
    padding: 2rem;
    border: 2px solid $white;
    border-radius: 1.6rem;
    box-shadow: 1px 4px 50px 5px rgba(0, 0, 0, 0.25);

    @include laptop {
        width: 40%;
    }

    @include tablet {
        width: 90%;
    }

    @include mobile {
        width: 100%;
    }
}

.technique__title {
    font-family: $appetite;
    font-weight: 700;
    color: $white;
    font-size: 3rem;
    font-weight: 700;
    line-height: 160%;
    text-transform: uppercase;
    letter-spacing: 3px;

    @include tablet {
        font-size: 2.2rem;
    }
}

.technique__rate {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid $white;
    border-radius: 1.6rem;
    padding: 2rem 1.5rem;
    background-color: $aquamarine;

    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;

        & > span {
            position: relative;
            top: 1px;
            color: $white;
            font-family: $appetite;
            font-weight: 600;
            font-size: 1.6rem;

            @include mobile {
                font-size: 1.8rem;
                text-align-last: left;
            }
        }
    }

    & > div:last-child > span::after {
        content: ' \20BD';
        font-family: $inter;
    }

    @include mobile {
        flex-direction: column;
        row-gap: 2rem;
    }
}

.technique__desc {
    display: flex;
    flex-direction: column;
    font-family: $inter;
    font-weight: 400;
    font-size: 1.8rem;
    color: $white;
    line-height: 140%;

    & > span {
        margin-top: 1rem;
        font-weight: 700;
    }

    @include tablet {
        font-size: 1.6rem;
    }
}

.certificate__block {
    & > .technique__info {
        width: 40%;

        @include tablet {
            width: 80%;
        }

        @include small-tablet {
            width: 90%;
        }

        @include mobile {
            width: 100%;
        }
    }

    & > .technique__photo {
        &::after {
            width: 200px;
            height: 200px;
        }
        &::before {
            width: 400px;
            height: 400px;
        }
    }
}
