<div class="infoBlock">

    <div class="infoBlock__card">

        <h4 class="infoBlock__title">Техника на любой вкус</h4>

        <p class="infoBlock__desc">
            У нас вы найдете технику под любой запрос. От экстремального отдыха до покатушек с семьей и уединения с
            природой. САП
            доски - гидроциклы - квадроциклы - катамараны - шезлонги - спортивный инвентарь
        </p>

        <p class="infoBlock__desc">
            Не важно новичок вы или профи, наша команда даст вам всю необходимую информацию для безопасного отдыха с
            семьей или
            друзьями.
        </p>

        <p class="infoBlock__desc">
            Безопасность для нас важна, поэтому мы даем вам инструктаж и снаряжение, в том числе жилеты
        </p>

        <a href="https://n1066501.yclients.com" target="_blank">
            {{> button/button buttonText="Забронировать"}}
        </a>

    </div>


    <div class="infoBlock__photo">
        <img src="static/img/content/info-block-photo.webp" alt="">
    </div>


</div>