<div class="rules">
    <h1 class="rules__title">Правила проката техники</h1>
    <h2 class="rules__suptitle">Перед бронированием, внимательно ознакомьтесь с правилами:</h2>

    <ol class="rules__items">
        <li>Наша техника предназначена не для гонок, а для комфортного катания. Каждая
            единица нашего парка не только дорога нашему сердцу, но и очень дорога в
            обслуживании! Поэтому, если вы хотите погонять, подрифтить, пожечь резину…
            то лучше воспользоваться услугами компаний с дешевой китайской техникой.
        </li>
        <li>
            Наши услуги предоставляются на свежем воздухе, где может быть холодно,
            жарко, ветрено и дождливо. При планировании досуга позаботьтесь о подходящих
            вещах.
        </li>
        <li>
            На бронь НЕОБХОДИМО ПРИЕХАТЬ ЗА 20 МИНУТ, так как перед катанием
            необходимо подписать договор, надеть экипировку и пройти инструктаж.

            <ul class="rules__items--circle">

                <li>ОПОЗДАТЬ = ОТОБРАТЬ у себя время на катание.
                </li>

                <li>Время поездки не продлевается! Так как после вас так же записаны люди.
                </li>

                <li>
                    Деньги за время, которое вы не успели откатать, НЕ ВОЗВРАЩАЮТСЯ.
                </li>

            </ul>
        </li>
        <li>Обратите внимание, что мы находимся на пляже “Алые паруса” в с. Ягодное:

            <ul class="rules__items--circle">
                <li>Это в 20 км от города.</li>

                <li>Дорога ок КВЦ в среднем занимает 20 минут (без учета пробок).</li>

                <li>От парковки нужно будет пройти еще 500 метров пешком, (наслаждаясь
                    красивыми видами). Это, в среднем, еще 5 минут.</li>

            </ul>

        </li>

        <li>
            При себе необходимо иметь:

            <ul class="rules__items--circle">
                <li>Паспорт.</li>
                <li>Хорошее настроение.</li>
            </ul>
        </li>
        <li>
            Катание осуществляется СТРОГО на определенной территории. Подробнее об
            ориентирах и маршрутах рассказываем на инструктаже.
        </li>
    </ol>
</div>