<div class="tabs">

    <h4 class="tabs__title">
        Часто задаваемые вопросы
    </h4>

    <div class="tabs__item">
        <button class="tabs__button">Будет ли инструктаж?</button>
        <div class="tabs__info">
            <span>
                Да, перед катанием проводится инструктаж, входящий в стоимость аренды. Вам расскажут об особенностях
                управления,
                технике.
            </span>
        </div>
    </div> <!-- /tabs__item -->

    <div class="tabs__item">
        <button class="tabs__button">Можно ли с детьми?</button>
        <div class="tabs__info">
            <span>
                К катанию допускаются дети от 7-ми лет, строго в качестве пассажира. Под строгим наблюдением и
                ответственностью
                родителей.
            </span>
        </div>
    </div> <!-- /tabs__item -->

    <div class="tabs__item">
        <button class="tabs__button">Сколько человек может кататься?</button>
        <div class="tabs__info">
            <span>
                Наша техника вмещает от 1 до 4х человек. Стоимость аренды одной единицы техники не зависит от количества
                катающихся, но
                количество людей не должно превышать количество посадочных мест.
            </span>
        </div>
    </div> <!-- /tabs__item -->

    <div class="tabs__item">
        <button class="tabs__button">Где можно кататься?</button>
        <div class="tabs__info">
            <span>
                Во время инструктажа вам подробно расскажут и покажут, где вы можете кататься, Не сомневайтесь, что вы
                не только
                насладитесь прекрасными видами, но и увидите побережье с совершенно нового ракурса.
            </span>
        </div>
    </div> <!-- /tabs__item -->

    <div class="tabs__item">
        <button class="tabs__button">Что если я выпил?</button>
        <div class="tabs__info">
            <span>
                Нет, лица, находящиеся даже в состоянии легкого алкогольного и наркотического опьянения к катанию не
                допускаются.
            </span>
        </div>
    </div> <!-- /tabs__item -->

    <div class="tabs__item">
        <button class="tabs__button">Я не умею кататься и боюсь один, можно чтобы со мной поехал инструктор?</button>
        <div class="tabs__info">
            <span>
                Да, у нас есть инструкторы, которые научат управлять вас гидроциклом и обеспечат безопасность во время
                катания. За
                услуги инструктора необходимо доплатить к стоимости аренды 1000 руб.
            </span>
        </div>
    </div> <!-- /tabs__item -->

</div>