<div class="slider">
    <h3 class="slider__title">Наша галерея</h3>

    <div class="swiper">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <a data-fslightbox="gallery" href="static/img/content/slides/slide-1.webp">
                    <img src="static/img/content/slides/slide-1.webp" alt="slide">
                </a>
            </div>

            <div class="swiper-slide">
                <a data-fslightbox="gallery" href="static/img/content/slides/slide-2.webp">
                    <img src="static/img/content/slides/slide-2.webp" alt="slide">
                </a>
            </div>

            <!-- <div class="swiper-slide">
                <a data-fslightbox="gallery" href="static/img/content/slides/slide-3.webp">
                    <img src="static/img/content/slides/slide-3.webp" alt="slide">
                </a>
            </div> -->

            <div class="swiper-slide">
                <a data-fslightbox="gallery" href="static/img/content/slides/slide-4.webp">
                    <img src="static/img/content/slides/slide-4.webp" alt="slide">
                </a>
            </div>

            <div class="swiper-slide">
                <a data-fslightbox="gallery" href="static/img/content/slides/slide-5.webp">
                    <img src="static/img/content/slides/slide-5.webp" alt="slide">
                </a>
            </div>

            <div class="swiper-slide">
                <a data-fslightbox="gallery" href="static/img/content/slides/slide-6.webp">
                    <img src="static/img/content/slides/slide-6.webp" alt="slide">
                </a>
            </div>

            <div class="swiper-slide">
                <a data-fslightbox="gallery" href="static/img/content/slides/slide-7.webp">
                    <img src="static/img/content/slides/slide-7.webp" alt="slide">
                </a>
            </div>

            <div class="swiper-slide">
                <a data-fslightbox="gallery" href="static/img/content/slides/slide-8.webp">
                    <img src="static/img/content/slides/slide-8.webp" alt="slide">
                </a>
            </div>

        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev">
        </div>
        <div class="swiper-button-next">
        </div>

    </div>
</div>